<%- include('partials/header'); -%>

<header>
    <div class="website">
        <img src="/comp-screen.png" alt=""/>
    </div>
    <div class="headings">
        <h2>Favourite Websites</h2>
        <h3>By me for me</h3>
        <a href="/websites" class="btn">View Websites</a>
    </div>
</header>

<%- include('partials/footer'); -%>
