<%- include('partials/header'); -%>

<ul class="websites">
    <li class="website">
        <a href="">
        <img 
        src="/comp-screen.png" 
        alt="site icon"
        />
        <h4>udacity.org</h4>
        <p>Some info</p>
        </a>
    </li>
    <li class="website">
        <a href="">
        <img 
        src="/comp-screen.png" 
        alt="site icon"
        />
        <h4>scrimba.com</h4>
        <p>Some info</p>
    </a>
    </li>
    <li class="website">
        <a href="">
        <img 
        src="/comp-screen.png" 
        alt="site icon"
        />
        <h4>codewithmosh.com</h4>
        <p>Some info</p>
       </a>
    </li>
</ul>

<%- include('partials/footer'); -%>
